body {
    margin: 0;
    padding: 0;
    font-family: 'Work sans', sans-serif;
    /* overflow: hidden; */
}

.slide {
    display: none;
    height: 100vh;
    width: 100%;
    text-align: center;
    color: #fff;
    background: url('images/abstract-colorful-sales-background-concept_250207-246.avif');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #333; */
    position: relative;
}

.container {
    height: 100%;
}

.container img {
    width: 400px;
    height: 400px;
    pointer-events: none;
    max-height: 400px;
    max-width: 100%;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: rgb(51, 51, 51) 0px 15px 30px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 50%;
    animation: fadeIn 2s;
}

#slide1 {
    display: block;
}

.slide h1 {
    padding: 20px  0;
    margin: 0;
}

.text-box-information {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    background: #fff;
    width: 80%;
    height: fit-content;
    max-height: 100%;
    margin: auto;
    overflow: scroll;
    border-radius: 20px;
}

.text-box-information::-webkit-scrollbar {
    width: 0em;
}

.text-box-information::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.text-box {
    color: black;
}

.text-box h2 {
    font-size: 42px;
    padding-top: 25px;
}

.text-box h3 {
    display: flex;
    border: 1px solid #fff;
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.information {
    text-align: start;
}

.information::-webkit-scrollbar {
    width: 0em;
}

.information::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.information li {
    font-size: 25px;
    list-style: none;
    letter-spacing: 2px;
}

.information li::before {
    content: '\21E8';
}

.information li:first-child {
    margin-top: 40px;
}

.information li:last-child {
    margin-bottom: 80px;
}

.information li:not(:last-child) {
    margin-bottom: 15px;
}

.text-box-information,
.information {
    /* position: relative;
    top: -50%; */
    opacity: 1;
    /* animation: fadeIn 1s; */
}

.button-container {
    position: relative;
    top: -15%;
    width: 100%;
    height: 10%;
    text-align: right;
    z-index: 100;
}

.next-button,
.prev-button {
    position: absolute;
    right: 0;
    /* top: -15px; */
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    animation: movement 2s;
    animation-iteration-count: infinite;
}

.next-button img,
.prev-button img {
    width: 100px;
    height: 100px;
    filter: brightness(10px);
}

.prev-button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    margin: 5px 20px 0 0;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}   

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes movement {
    from {
        top: 30px;
    }
    50% {
        top: 15px;
    }
    100% {
        top: 30px;
    }
}